@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  background-color: $background-colour;
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  color: $font-colour;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}