@import "variables.scss";

.navbar {
  $size: 3rem;
  $height: $size * 1.1547;
  $margin: 0.3rem;
  $f: calc(1.732 * $size + 4 * $margin - 1px);
  position: fixed;
  display: flex;
  top: 2vh;
  right: 0;
  z-index: 1;

  .links {
    height: auto;
    margin-left: auto;
    max-width: 300px;
    font-size: 0;
    position: relative;

    li {
      filter: $hex-shadow-quarter;
      height: $height;
      display: inline-flex;
      transition: $transition;

      div {
        background: $background-colour-darker;
        transition: $transition;
        width: $size;
        margin: $margin;
        height: $height;
        margin-bottom: $margin - $size * 0.2885;
        font-size: initial;
        overflow: hidden;
        position: relative;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);

        a {
          @include absolute(100%, 0);

          line-height: $size * 1.45;
          text-align: center;
          z-index: 1;

          span {
            padding-top: 30% !important;
            
            img {
              transition: $transition;
              transform: scale(1);
            }
          }

        }

        &:after {
          @include absolute(110%, -5%);
          border-radius: $size;
          box-shadow: $box-shadow;
          transition: $transition;
          background: transparent;
          content: "";
        }
      }

      &:hover {
        filter: $hex-shadow-quarter-reverse;

        div {
          background: $background-colour-hover;
          transform: translateY(5px);

          a {
            img {
              transform: scale(0.9);
            }
          }
        }
      }
    }

    .spacer {
      opacity: 0;
    }

    &:before {
      width: calc($size/2) + $margin;
      content: "";
      float: left;
      height: 120%;
      shape-outside: repeating-linear-gradient(#0000 0 calc($f - 3px), #000 0 $f);
    }
  }

  .tooltipContainer {
    font-size: 0;
    position: absolute;
    right: 8rem;
    top: 7.5vh;
    padding: 1rem 3rem;
    box-shadow: $box-shadow-none;
    background-color: $background-colour;
    border-radius: 1rem;
    transition: $transition;
    background: transparent;
    min-width: 60%;
    text-align: center;

    .tooltip {
      font-size: 1rem;
      opacity: 0;
      transition: $transition;
    }

    &.shown {
      opacity: 1;
      box-shadow: $box-shadow-inset-half;
      background: $background-colour-hover;

      .tooltip {
        opacity: 1;
      }
    }
  }
}
